.header__header{
    display: flex;
    position: relative;
    margin: 20px 30px;
}
.card__ttl{
    color:darkblue;
    font-size: 30px;
}
.nav__link{
    display: flex;
    position: absolute;
    top: 20%;
    right: 0%;
    list-style: none;
    
}
li{
    margin-left: 3em;
}
a{
    text-decoration: none;
    color: darkblue;
}
.main{
    position: relative
}
.firstview{
    position: absolute;
    top:100px;
    right: 0;
    width:50%;
    z-index: 10;
}
h2{
    position: absolute;
    top: 340px;
    left: 0%;
    font-size: 80px;
    font-weight: lighter;

}
.color{
    position: absolute;
    top: 440px;
    background-color: darkblue;
    width:75%;
    height:200px;
}