.header__header {
    display: flex;
    position: relative;
    margin: 20px 30px;
}

.card__ttl {
    color: darkblue;
    font-size: 30px;
}

.nav__link {
    display: flex;
    position: absolute;
    top: 20%;
    right: 0%;
    list-style: none;

}

li {
    margin-left: 3em;
}

a {
    text-decoration: none;
    color: darkblue;
}

.firstview {
    position: absolute;
    top: 15%;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: 10;
}

h2 {
    position: absolute;
    top: 44%;
    left: 0%;
    font-size: 70px;
    font-weight: lighter;
}

.color {
    position: absolute;
    top: 55%;
    background-color: darkblue;
    width: 75%;
    height: 25%;
}